<!DOCTYPE html>
<html>
<head>
    <title>Controller</title>
    <meta http-equiv="refresh" content="1"> <!-- Refresh every 1 seconds -->
    <style>
        #item-list li {
            list-style-type: none;
            display: block;
            width: 90%;
            height: auto;
            border: 1px solid black; /* Optional: Add a border to see the blocks */
            margin-bottom: 5px; /* Optional: Add some space between sthe blocks */
            padding: 10px; /* Optional: Add some padding inside the blocks */
        }
    </style>
</head>
<body>
    <ul id="item-list">
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>